h5py==3.16.0
ipython==9.7.0
matplotlib==3.10.8
numpy==2.4.2
pandas==3.0.0
plotly==6.6.0
pydantic==2.12.5
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
torch==2.10.0+rocm7.1
tqdm==4.67.3
